{{ define "main" }}
<div class="post-title">
    <h1>
        {{ .Title }}
        {{- if .Draft }}<div class="entry-isdraft"><sup>&nbsp;&nbsp;[draft]</sup></div>{{- end }}
    </h1>
</div>
{{- if .Params }}
<div class="post-meta">
    {{ .PublishDate.Format "Jan. 2, 2006" }}
    {{ with .Params.Description }}
    <span style="color: var(--primary-color);font-weight: bold">//</span>
    {{ . }}
    {{ end }}
</div>
{{- end }}
{{- if .Description }}
<div class="post-description">
    {{ .Description }}
</div>
{{- end }}
<div class="main-content">
    {{ .Content }}
</div>
{{ end }}
