{{ define "main" }}
<div class="post-title">
    <h1>{{ .Title }}</h1>
</div>
<div class="post-meta">
    {{ .PublishDate.Format "Jan. 2, 2006" }}
    {{ with .Params.Description }}
    <span style="color: var(--primary-color);font-weight: bold">//</span>
    {{ . }}
    {{ end }}
</div>
{{- if (.Param "ShowToc") }}
<div class="toc">
    <details {{if (.Param "TocOpen") }} open{{ end }}>
    <summary accesskey="c" title="(Alt + C)">
        <div class="details">{{- i18n "toc" | default "Table of Contents" }}</div>
    </summary>
    <div class="inner">
        {{- partial "toc.html" . }}
    </div>
    </details>
</div>
{{- end }}
<div class="post-content" >
    {{ partial "anchored_headings" .Content }}
</div>
{{ end }}
